# --- JAVA / SPRING BOOT ---
backend/target/
backend/*.class
backend/*.log
backend/help.md

# --- NODE / FRONTEND ---
frontend/node_modules/
frontend/dist/
frontend/build/

# --- CONFIGURACIÓN DE IDE ---
.idea/
.vscode/
*.iml
*.iws
*.ipr

# --- SEGURIDAD ---
.env
**/*.env

# --- SISTEMA ---
.DS_Store
Thumbs.db