<link rel="stylesheet" href="../assets/css/navbar.css">

<header id="navbar-header">
  <div class="container">

    <a href="../index.html" class="logo">
      <img src="../assets/images/logo-exportify.png" alt="Exportify logo" style="height: 40px;">
      <span class="logo-text">EXPORTI<span>FY</span></span>
    </a>

    <input type="checkbox" id="menu-toggle">
    <label for="menu-toggle" class="menu-icon">
      <i class="fas fa-bars"></i>
    </label>

    <nav class="sidebar">
        <ul>
            <li><a href="../index.html">INICIO</a></li>
            <li><a href="../pages/aboutUs.html">SOBRE NOSOTROS</a></li>
            <li><a href="../pages/comunidad.html">COMUNIDAD</a></li>
            <li><a href="../pages/seguimiento.html">SEGUIMIENTO</a></li>
            <li><a href="../pages/cursos.html">CURSOS</a></li>
            <li><a href="../pages/noticias.html">NOTICIAS</a></li>
            <li><a href="../pages/contacto.html">CONTÁCTENOS</a></li>
        </ul>
    </nav>

    <div class="nav-actions">
      <a href="../pages/login.html" class="login-btn">
        <i class="fas fa-user"></i> <span>Inicia sesión</span>
      </a>

      <a href="../pages/carrito.html" class="cart-btn">
        <i class="fas fa-shopping-cart"></i>
        <span id="contador" class="cart-count">0</span>
      </a>
    </div>

  </div>
</header>