<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../assets/css/navbar.css" />
  <title>navbar</title>
</head>

<body>
  <header>
    <div class="container">

      <!-- Marca (imagen + texto) -->
      <a href="../index.html" class="logo">
        <img src="../assets/images/logo-exportify.png" alt="Exportify logo" />
        <span class="logo-text">EXPORTI<span>FY</span></span>
      </a>

      <!-- Links -->
      <ul class="nav-links">
        <li><a href="../index.html">INICIO</a></li>
        <li><a href="../pages/aboutUs.html">SOBRE NOSOTROS</a></li>
        <li><a href="../pages/comunidad.html">COMUNIDAD</a></li>
        <li><a href="../pages/seguimiento.html">SEGUIMIENTO</a></li>
        <li><a href="../pages/cursos.html">CURSOS</a></li>
        <li><a href="../pages/noticias.html">NOTICIAS</a></li>
        <li><a href="../pages/contacto.html">CONTÁCTENOS</a></li>
      </ul>
      <a href="../pages/login.html" class="nav-login-btn">Login</a>
      <a href="../pages/carrito.html" class="nav-login-btn">Carrito</a>
    </div>
  </header>
</body>
</html>
