<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/navbar.css">
    <title>navbar</title>
</head>
<header>
        <div class="container">
            <div class="logo">EXPORTI<span>FY</span></div>
            <nav class="nav-links">
                <a href="../index.html">INICIO</a>
                <a href="/pages/aboutUs.html">SOBRE NOSOTROS</a>
                <a href="#">TESTIMONIOS</a>
                <a href="/pages/seguimiento.html">SEGUIMIENTO</a>
                <a href="/pages/catalogo.html">CURSOS</a>
                <a href="/pages/noticias.html">NOTICIAS</a>
                <a href="/pages/contacto.html">CONTÁCTENOS</a>
            </nav>
        </div>
    </header>
</html>