<header>
        <div class="container">
            <div class="logo">EXPORTI<span>FY</span></div>
            <nav class="nav-links">
                <a href="../index.html">INICIO</a>
                <a href="/pages/aboutUs.html">SOBRE NOSOTROS</a>
                <a href="#">CAPACITACIÓN</a>
                <a href="#">SEGUIMIENTO</a>
                <a href="/pages/catalogo.html">CATÁLOGO</a>
                <a href="#">TIENDAS</a>
                <a href="/pages/contacto.html">CONTÁCTENOS</a>
            </nav>
        </div>
    </header>