/* ==========================
   NAVBAR
========================== */
header {
    background-color: #083d77;
    box-shadow: 0 2px 10px rgba(7, 7, 7, 0.1);
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    font-size: 28px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    margin-bottom: 10px;
}

.logo span {
    color: #ff9cce;
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 200;
    transition: color 0.3s;
    letter-spacing: 0.2rem;
}

.nav-links a:hover {
    color: #ff9cce;
}
