/* ==========================
   ROOT
========================== */

:root {
    /* Un rosa fuerte profesional */
    --primary-color: #ff9cce;
    /* Azul oscuro para contraste */
    --secondary-color: #083d77; 
    /*Blanco Central*/
    --accent-color: #f8f9fa; 
    /*Color de texto grisáceo*/
    --text-color: #333;
    /*Color neutro de fondo*/
    --back-color: #efeaf5;

    --sombra: 0 2px 10px rgba(7, 7, 7, 0.1);
    --sombra-card: 0 6px 18px rgba(0, 0, 0, 0.5);
    --border-radius: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--back-color);
    color: #78647d;
    line-height: 1.6;
}



/* ==========================
   FORMULARIO TRACKING
========================== */

.track-container {
    margin: auto;
    text-align: center;
}

.tracking {
    max-width: 800px;
    margin: 40px auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: var(--border-radius);
    box-shadow: var(--sombra-card);
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.tracking h3 {
    color: #083d77;
    margin-bottom: 2rem;
}

#info-tracking {
    text-align: center;
}

#trackInput {
    width: 70%;
    padding: 12px 15px;
    border: 2px solid #083d77;
    border-radius: 8px;
    font-size: 16px;
    margin-right: 10px;
    transition: border-color 0.3s;
}

.btn-primary {
    background: #083d77;
    color: #ffffff;
    padding: 12px 22px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 600;
}

.btn-primary:hover {
    background: #ff9cce;
    color: #083d77;
}

